<!--<mat-card>
  <mat-card-content>
    <div class="header">
      <img src="\assets\img\pet-logo.png">
    </div>

    <div class="container">
      <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="border border-success btn-lg btn-block rounded">Login</button>
      </div>
    </div>

  </mat-card-content>

</mat-card>-->
<div class="content-body">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <!-- Icon -->
      <div>
        <img src="\assets\img\pet-logo.png" id="icon" />
      </div>

      <div>
        <span>Please use Edge/Chrome to access.</span>
      </div>
      <br />
      <br />

      <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="border border-success btn-lg btn-block" (click)="login()">Login</button>

      </div>




      <!-- Remind Passowrd -->
      <div id="formFooter">
        <!--<span>
          <mat-icon>call</mat-icon>
        </span>-->
        <!--<a href="">8983416500</a>-->
      </div>

    </div>
  </div>

</div>

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <!-- Icon -->
      <div>
        <img src="\assets\img\pet-logo.png" id="icon" />
      </div>

      <div>
        <span>Please use Edge/Chrome to access.</span>
      </div>
      <br />
      <br />

      <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="border border-success btn-lg btn-block" (click)="login()">Login</button>

      </div>




      <!-- Remind Passowrd -->
      <div id="formFooter">
        <!--<span>
          <mat-icon>call</mat-icon>
        </span>-->
        <!--<a href="">8983416500</a>-->
      </div>

    </div>
  </div>
